<h2 class="text-center">Add new Customer</h2>
<form [formGroup]="registerFormService" (ngSubmit)="onSubmit()" class="col-md-8 offset-md-4" style="text-align: center">
  <div class="form-group row">
    <label class="col">
      Id:
      <input type="text" class="form-control" formControlName="id">
    </label>
  </div>
  <div class="form-group row">
    <label class="col">
      Loại khách hàng:
      <input type="text" class="form-control" formControlName="typeCustomer">
    </label>
  </div>
  <div class="form-group row">
    <label class="col">
      Tên khách hàng:
      <input type="text" class="form-control" formControlName="name">
    </label>
  </div>
  <div class="form-group row">
    <label class="col">
      Ngày sinh:
      <input type="date" class="form-control" formControlName="birthday">
    </label>
  </div>
  <div class="form-group row">
    <label class="col">
      Chứng minh nhân dân:
      <input type="text" class="form-control" formControlName="idCard">
    </label>
  </div>
  <div class="form-group row">
    <label class="col">
      Số điện thoại:
      <input type="number" class="form-control" formControlName="phone">
    </label>
  </div>
  <div class="form-group row">
    <label class="col">
      Email:
      <input type="email" class="form-control" formControlName="email">
    </label>
  </div>
  <div class="form-group row">
    <label class="col">
      Địa chỉ:
      <input type="text" class="form-control" formControlName="address">
    </label>
  </div>

  <div class="form-group">
    <button class="btn btn-info" type="submit" style="color: black"><a routerLink="/customers">Submit</a></button>
  </div>
</form>

<!--<pre>-->
<!--{{ registerFormService.value | json}}-->
<!--</pre>-->

<!--[disabled]="registerFormService.invalid"-->

