<h2 class="text-center">Add new Customer</h2>
<form  class="col-md-8 offset-md-4" style="text-align: center">
  <div class=" row">
    <label class="col">
      Id:
      <input type="text" class="form-control" [(ngModel)]="customer.id" name="id">
    </label>
  </div>
  <div >
    <label class="col">
      Loại khách hàng:
      <input type="text" class="form-control"  [(ngModel)]="customer.typeCustomer" name="typeCustomer">
    </label>
  </div>
  <div >
    <label class="col">
      Tên khách hàng:
      <input type="text" class="form-control"   [(ngModel)]="customer.name" name="name">
    </label>
  </div>
  <div >
    <label class="col">
      Ngày sinh:
      <input type="date" class="form-control"   [(ngModel)]="customer.birthday" name="birthday">
    </label>
  </div>
  <div >
    <label class="col">
      Chứng minh nhân dân:
      <input type="text" class="form-control"  [(ngModel)]="customer.idCard" name="idCard">
    </label>
  </div>
  <div >
    <label class="col">
      Số điện thoại:
      <input type="number" class="form-control"  [(ngModel)]="customer.phone" name="phone">
    </label>
  </div>
  <div >
    <label class="col">
      Email:
      <input type="email" class="form-control"  [(ngModel)]="customer.email" name="email">
    </label>
  </div>
  <div >
    <label class="col">
      Địa chỉ:
      <input type="text" class="form-control"   [(ngModel)]="customer.address" name="address">
    </label>
  </div>

  <div >
    <button class="btn btn-info" type="submit" style="color: black" (click)="onAddCustomer()">
     Submit
    </button>
  </div>
</form>


<!--<pre>-->
<!--{{ registerFormService.value | json}}-->
<!--</pre>-->

<!--[disabled]="registerFormService.invalid"-->

