<h2 class="text-center" style="color: white">User registration</h2>
<form [formGroup]="registerFormService" (ngSubmit)="onSubmit()" class="col-md-8 offset-md-4" style="text-align: center">
  <div class="form-group row">
    <label class="col">
      Email
      <input type="email" class="form-control" formControlName="email">
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="registerFormService.get('email').invalid && registerFormService.get('email').touched">
    Invalid email!
  </div>
  <fieldset formGroupName="pwGroup">
    <div class="form-group row">
      <label class="col">
        Password
        <input type="password" class="form-control" formControlName="password">
      </label>
    </div>
    <div class="form-group row">
      <label class="col">
        Confirm Password
        <input type="password" class="form-control" formControlName="confirmPassword">
      </label>
    </div>
  </fieldset>
  <div class="alert alert-danger" role="alert"
       *ngIf="registerFormService.hasError('passwordnotmatch', ['pwGroup']) &&
      registerFormService.get('pwGroup').touched">
    Password does not match!
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="registerFormService.get('country').invalid && registerFormService.get('country').touched">
    Country is required!
  </div>
  <div class="form-group row">
    <label class="col">
      Age
      <input type="number" class="form-control" formControlName="age">
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="registerFormService.get('age').invalid && registerFormService.get('age').touched">
    You have to be over 18 to register an account
  </div>
  <div class="form-group row">
    <div class="col">
      Gender
      <label style="margin-left: 30px"><input type="radio" formControlName="gender" value="male">Male</label>
      <label  style="margin-left: 30px"><input type="radio" formControlName="gender" value="female">Female</label>
    </div>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="registerFormService.get('gender').invalid && registerFormService.get('gender').touched">
    Gender is required!
  </div>
  <div class="form-group row">
    <label class="col">
      Phone
      <input type="tel" class="form-control" formControlName="phone" placeholder="+841234567890">
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="registerFormService.get('phone').invalid && registerFormService.get('phone').touched">
    <span *ngIf="registerFormService.get('phone').hasError('required')">Phone is required</span>
    <span *ngIf="registerFormService.get('phone').hasError('pattern')">Phone must start with +84 followed by 9 or 10 digits.</span>
  </div>
  <div class="form-group row">
    <label class="col">
      Type Service
      <select formControlName="typeService" class="form-control"  style="width: 620px">
        <option value="">Chọn</option>
        <option value="Villa">Villa</option>
        <option value="House">House</option>
        <option value="Room">Room</option>
      </select>
    </label>
    
  </div>


  <div class="form-group">
    <button class="btn btn-info" type="submit" [disabled]="registerFormService.invalid">Submit</button>
  </div>
</form>

<pre>
{{ registerFormService.value | json}}
</pre>


