body{
    margin:0;
}

#header{
    background: black;
    height: 100px;
    width:100%;
}
#main{
    background: rebeccapurple;
    height: 300px;
    width:70%;
    float:left;
}
#sidebar{
    background: aqua;
    height: 300px;
    width: 30%;
    float:left;
}
#footer{
    background: red;
    height: 150px;
    width: 100%;
    clear:both
}