

header{
  width: 100%;
  height:200px;
  background: black;
  font-size: 10%;
  border: white 3px double;
  border-radius:20px ;
}
header div{
  float:left;
  margin-left:100px;
  margin-top: 50px;
}
header div h1{
  font-family: Impact;
  font-size: 50px;
  color: white;
  letter-spacing: 0.3px;
  text-shadow: 0 0 2px black;
  padding-bottom: 0px;
  border-bottom: 1px dotted gray;
  margin: 0px;
}
header div h5{
  margin-top: 5px;
  letter-spacing: 0.5px;
  color: white;
  font-size: 20px;
}
header div div {
  color: white;
  height: 30px;
  width: 800px;
  margin: 0px;
  padding: 0px;
  margin-left: -50px;
  margin-top: 15px;

}
header div div a{
  color: white;
  font-size: 20px;
  margin-right:50px ;
  text-decoration: none;
}
header div div a:hover{
  color: red;

}
header img{
  float: right;
  background-image: url("src/assets/img/s1.png");
  width:40%;
  height: 31%;
  background-repeat: no-repeat;
  position: absolute;
}
.main{
  width: 100%;
  height: 2000px;
  background: black;
  border: white 3px double;
  border-radius:20px ;
}
