<h2 class="text-center">Thêm mới dịch vụ</h2>
<form [formGroup]="addServiceForm" class="col-md-8 offset-md-4" style="text-align: center">

  <div >
    <label class="col">
      Tên dịch vụ:
      <input type="text" class="form-control"  formControlName="name">
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="addServiceForm.get('name').invalid && addServiceForm.get('name').touched">
    Tên không được để trống.
  </div>

  <div >
    <label class="col">
      Mã dịch vụ:
      <input type="text" class="form-control"   formControlName="codeService">
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="addServiceForm.get('codeService').hasError('required') && addServiceForm.get('codeService').touched">
    Mã dịch vụ không được để trống.
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="addServiceForm.get('codeService').hasError('pattern') && addServiceForm.get('codeService').touched">
    Mã dịch vụ phải đúng định dạng.
  </div>

  <div >
    <label class="col">
      Diện tích sử dụng:
      <input type="number" class="form-control"  formControlName="areaUsed">
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="addServiceForm.get('areaUsed').hasError('required') && addServiceForm.get('areaUsed').touched">
    Diện tích không được để trống.
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="addServiceForm.get('areaUsed').hasError('min') && addServiceForm.get('areaUsed').touched">
    Diện tích là số dương lớn hơn 0.
  </div>
  <div >
    <label class="col">
      Chi phí thuê:
      <input type="number" class="form-control"  formControlName="amount">
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="addServiceForm.get('amount').hasError('required') && addServiceForm.get('amount').touched">
    Chi phí thuê không được để trống.
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="addServiceForm.get('amount').hasError('min') && addServiceForm.get('amount').touched">
    Chi phí thuê là số dương lớn hơn 0.
  </div>
  <div >
    <label class="col">
      Số người tối đa:
      <input type="number" class="form-control"  formControlName="maximumPeople">
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="addServiceForm.get('maximumPeople').hasError('required') && addServiceForm.get('maximumPeople').touched">
    Số người tối đa không được để trống.
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="addServiceForm.get('maximumPeople').hasError('min') && addServiceForm.get('maximumPeople').touched">
    Số người tối đa là số dương lớn hơn 0.
  </div>
  <div >
    <label class="col">
      Kiểu thuê:
      <select type="text" class="form-control"  formControlName="typeRent">
        <option value="byDay">By Day</option>
        <option value="byMonth">By Month</option>
        <option value="byYear">By Year</option>
      </select>
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="addServiceForm.get('typeRent').invalid && addServiceForm.get('typeRent').touched">
    Kiểu thuê không được để trống.
  </div>
  <div >
    <label class="col">
      Loại dịch vụ:
      <select type="text" class="form-control" formControlName="typeService">
        <option value="Villa">Villa</option>
        <option value="House">House</option>
        <option value="Room">Room</option>
      </select>
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="addServiceForm.get('typeService').invalid && addServiceForm.get('typeService').touched">
    Loại dịch vụ không được để trống.
  </div>

  <div >
    <button class="btn btn-info" type="submit" style="color: black" [disabled]="addServiceForm.invalid " (click)="onAddService()">
      Thêm mới
    </button>
  </div>
</form>
<div class="text-danger">
  {{message}}
</div>

