<h2 class="text-center">Thêm mới hợp đồng chi tiết</h2>
<form  [formGroup]="addContractDetailForm" class="col-md-8 offset-md-4" style="text-align: center">

  <div >
    <label class="col">
      Id hợp đồng :
      <select type="number" class="form-control"   formControlName="startDate">
        <option *ngFor="let contract of contracts" [value]="contract.id">{{contract.id}}</option>
      </select>
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="addContractDetailForm.get('idContract').invalid && addContractDetailForm.get('idContract').touched">
    Id hợp đồng bắt đầu không được để trống.
  </div>
  <div >
    <label class="col">
      Dịch vụ đi kèm:
      <select type="text" class="form-control" formControlName="nameServiceBonus">
        <option value="Massage">Massage</option>
        <option value="Cinema">Cinema</option>
        <option value="Swimming">Swimming</option>
        <option value="Boiling">Boiling</option>
      </select>
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="addContractDetailForm.get('nameServiceBonus').invalid && addContractDetailForm.get('nameServiceBonus').touched">
    Dịch vụ đi kèm không được để trống.
  </div>

  <div >
    <label class="col">
      Số lượng:
      <input type="number" class="form-control"   formControlName="quantity">
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="addContractDetailForm.get('quantity').hasError('required') && addContractDetailForm.get('quantity').touched">
    Số lượng không được để trống.
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="addContractDetailForm.get('quantity').hasError('pattern') && addContractDetailForm.get('quantity').touched">
    Số lượng phải đúng định dạng.
  </div>

  <div >
    <button class="btn btn-info" type="submit" style="color: black" [disabled]="addContractDetailForm.invalid " (click)="onAddContractDetail()">
      Thêm mới
    </button>
  </div>
</form>
<div class="text-danger">
  {{message}}
</div>





